@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");
@import url(/css/scroll.css);
@import url(/css/button.css);
::selection {
  background: #a797f3;
  color: #2b2c34;
}

::-moz-selection {
  background: #a797f3;
  color: #2b2c34;
}

::-webkit-selection {
  background: #a797f3;
  color: #2b2c34;
}

.notification-container {
  user-select: none;
  cursor: auto;
  position: absolute;
  width: 40rem;
  right: -2rem;
  top: 3rem;
  color: #ffffff;
  background-color: #363742;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 -3px 5px 2px #2b2c34;
  animation: notiAnimationEntrance ease 0.3s;
}
.notification-container .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  margin-bottom: 1.5rem;
}
.notification-container .title p {
  margin-left: 1rem;
}
.notification-container .title button {
  cursor: pointer;
  font-size: 1.6rem;
  background-color: transparent;
  margin-right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  border: none;
  outline: none;
  opacity: 0.7;
  transition: all ease 0.3s;
}
.notification-container .title button:hover {
  opacity: 1;
}
.notification-container .noti-list {
  max-height: 36rem;
  overflow-y: scroll;
}
.notification-container .noti-list .no-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #ffffff dashed 2px;
  padding: 3rem;
  margin-left: 1rem;
}
.notification-container .noti-list .no-item p {
  color: #ffffff;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.notification-container .noti-list .no-item img {
  height: 12rem;
}
.notification-container .noti-list .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: all ease 0.3s;
  margin-bottom: 0.5rem;
}
.notification-container .noti-list .item .image {
  width: 6rem;
  margin-right: 1.5rem;
}
.notification-container .noti-list .item .text {
  font-size: 1.6rem;
}
.notification-container .noti-list .item .text .content {
  line-height: 2rem;
}
.notification-container .noti-list .item:hover {
  background-color: #2b2c34;
}

@keyframes notiAnimationEntrance {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  height: 100%;
}

body {
  height: calc(100% - 6rem);
  overflow: hidden;
  background-color: #2b2c34;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  padding: 0 2.5rem;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 6rem;
  width: 100%;
  box-shadow: 0 1px 5px #1d1d22;
  background-color: #363742;
  font-size: 2rem;
}
.header__head {
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
}
.header__head .logo {
  height: 100%;
  padding: 1rem;
  margin-right: 0.7rem;
}
.header__foot {
  margin-left: 2rem;
  cursor: pointer;
  position: relative;
}
.header__foot .count-noti {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  opacity: 1;
  user-select: none;
  font-size: 1.2rem;
  position: absolute;
  border-radius: 50%;
  background-color: #a797f3;
  z-index: 2;
  color: #ffffff;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  transition: all ease 0.3s;
}
.header__foot .count-noti.hide {
  opacity: 0;
}
.header__foot .notification-container {
  display: none;
}
.header__foot i {
  font-size: 2.3rem;
  color: #ffffff;
  opacity: 0.8;
  transition: all ease 0.3s;
}
.header__foot i:hover {
  opacity: 1;
}
.header__foot .special-icon {
  display: none;
}
.header__foot.active .normal-icon {
  display: none;
}
.header__foot.active .special-icon {
  display: inline-block;
}
.header__foot.active .notification-container {
  display: block;
}

.sidebar {
  background-color: #363742;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  height: calc(100% - 6rem);
}
.sidebar .nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  cursor: pointer;
  border-left: transparent solid 2px;
  border-right: transparent solid 2px;
  text-decoration: none;
  background-color: transparent;
  height: 6.7rem;
  width: 6.7rem;
  padding: 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  transition: all ease 0.3s;
  margin-bottom: 0.5rem;
  opacity: 0.6;
}
.sidebar .nav-item i {
  font-size: 2.1rem;
}
.sidebar .nav-item .special-icon {
  display: none;
}
.sidebar .nav-item .nav-item__title {
  font-weight: 500;
}
.sidebar .nav-item:hover {
  opacity: 1;
  border-left: #ffffff solid 2px;
}
.sidebar .nav-item.active {
  opacity: 1;
  border-left: #a797f3 solid 2px;
  color: #a797f3;
}
.sidebar .nav-item.active .normal-icon {
  display: none;
}
.sidebar .nav-item.active .special-icon {
  display: inline-block;
}
.sidebar .nav-item.active .nav-item__title {
  font-weight: 600;
}

.body {
  margin-top: 6rem;
  margin-left: 6.7rem;
  padding: 3rem 5rem;
  height: 100%;
  overflow: hidden;
}

.body {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  flex-wrap: none;
}
.body .wallpaper {
  width: 40rem;
  height: 100%;
  color: #ffffff;
  background-image: url(/img/wallpaper.jpg);
}
.body .wallpaper .layer {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  background-color: rgba(43, 44, 52, 0.5);
  height: 100%;
  padding: 1rem;
}
.body .wallpaper .layer .avatar {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.body .wallpaper .layer .avatar img {
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0 2px 5px 2px #2b2c34;
}
.body .wallpaper .layer .name {
  white-space: nowrap;
  text-align: center;
  width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.body .wallpaper .layer .description {
  font-size: 1.6rem;
  opacity: 0.9;
}
.body .info {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: none;
  overflow-y: scroll;
  width: calc(100% - 40rem);
  background-color: #363742;
  color: #ffffff;
  padding: 2.5rem 1.5rem;
}
.body .info .heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.body .info .image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  background-image: url(/img/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 13rem;
  position: relative;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
}
.body .info .image .avatar {
  top: 3rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 1.5rem;
  height: 100%;
  width: 13rem;
  display: block;
  margin: 0 auto;
}
.body .info .image .avatar .top-layer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  background-color: rgba(43, 44, 52, 0.5);
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  width: 13rem;
  position: absolute;
  opacity: 0;
  transition: all ease 0.3s;
}
.body .info .image .avatar .top-layer i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}
.body .info .image .avatar img {
  width: 13rem;
  border-radius: 50%;
}
.body .info .image .avatar:hover .top-layer {
  opacity: 1;
}
.body .info .title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.body .info .task-review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.body .info .task-review .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: none;
  background-color: #2b2c34;
  text-decoration: none;
  width: calc(50% - 1rem);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  color: #ffffff;
  font-size: 1.7rem;
  transition: all ease 0.3s;
}
.body .info .task-review .item .heading {
  margin: 0;
  margin-right: 2rem;
  font-size: 1.7rem;
}
.body .info .task-review .item:first-child:hover {
  background-color: #ff7b21;
}
.body .info .task-review .item:nth-child(2):hover {
  background-color: #a797f3;
}
.body .info .task-review .item:nth-child(3):hover {
  background-color: #53db89;
}
.body .info .task-review .item:last-child:hover {
  background-color: #e45858;
}
.body .info .user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.body .info .user-info div {
  width: calc(50% - 1rem);
  background-color: #2b2c34;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.body .info .user-info div h3 {
  width: calc(100% - 1rem);
  font-size: 1.6rem;
  margin-top: 1rem;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body .info .user-info div h3 a {
  color: #ffffff;
  text-decoration: none;
}
.body .info .user-info div label {
  height: 1.6rem;
  font-size: 1.5rem;
  opacity: 0.8;
}
.body .info .user-info div input {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  outline: none;
  border: none;
  background-color: transparent;
  display: none;
  font-size: 1.6rem;
  width: calc(100% - 1rem);
  height: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
}
.body .info .user-info.editting div h3 {
  display: none;
}
.body .info .user-info.editting div input {
  display: block;
}
.body .info .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.body .info .buttons button {
  width: 10rem;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.body .info .buttons .save {
  display: none;
}
.body .info .buttons.editting .edit {
  display: none;
}
.body .info .buttons.editting .save {
  display: inline-block;
}

/*# sourceMappingURL=setting.css.map */
