$primary-color: #a797f3;
$secondary-color: #2b2c34;
$sub-color: #e45858;
$sub-color-2: #e8ebed;
$sub-color-3: #ff7b21;
$sub-color-4: #53db89;
$background-color: #fffffe;
$background-color-2: #f1f1f1;
$text-color: #ffffff;