@import "./mutual.scss";

.body {
    @include flex(row, space-between, center, none);
    .countdown {
        @include flex(column, space-between, center, none);
        height: 100%;
        height: 100%;
        width: calc(50% - 1.5rem);
        padding: 2rem;
        border-radius: 1rem;
        background-color: #363742;
        border: $sub-color-3 solid 2px;
        &__title {
            width: 70%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
            text-align: center;
            font-size: 2rem;
            color: $sub-color-3;
        }
        &__time {
            position: relative;
            @include flex(row, center, center, none);
            font-size: 4rem;
            font-weight: 600;
            user-select: none;
            color: $sub-color-3;
            padding: 1rem 3rem;
            height: 35rem;
            width: 35rem;
            .inner {
                position: absolute;
                height: 95%;
                width: 95%;
                background-color: $secondary-color;
                border-radius: 50%;
                border: #363742 solid 1rem;
                z-index: 6;
            }
            .circle {
                .bar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    clip-path: inset(0 0 0 50%);
                    background-color: $secondary-color;
                    .progress {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        background-color: $sub-color-3;
                        clip-path: inset(0 0 0 50%);
                    }
                }
                .left .progress{
                    z-index: 1;
                    transition: all linear 1s;
                }
                .right .progress{
                    z-index: 1;
                    transition: all linear 1s;
                }
                .left {
                    z-index: 3;
                    transform: rotate(180deg);
                }
                @keyframes circle {
                    100% {
                        transform: rotate(180deg);
                    }
                }
            }
            .text {
                @include flex(row, center, center, none);
                width: 100%;
                position: relative;
                z-index: 7;
                .hour, .minute, .second {
                    text-align: center;
                    min-width: 6rem;
                }
            }
        }
        &__buttons {
            @include flex(row, center, center, none);
            width: 100%;
            button {
                text-align: center;
                padding: 1.5rem;
                margin: 0 0.7rem;
                width: 13%;
                border: none;
                color: $text-color;
                padding: 0.7rem;
            }
            .play-pause {
                .pause {
                    display: none;
                }
                .play {
                    display: inline-block;
                }
            }
        }
    }
    .countdown.play {
        .countdown__buttons {
            .play-pause {
                .pause {
                    display: inline-block;
                }
                .play {
                    display: none;
                }
            }
        }
    }
    .task-list {
        @include flex(column, space-between, center, none);
        height: 100%;
        width: calc(25% - 1.5rem);
        padding: 2rem;
        border-radius: 1rem;
        background-color: #363742;
        border: $primary-color solid 2px;
        &__title {
            font-weight: 600;
            text-align: center;
            font-size: 2rem;
            color: $primary-color;
        }
        &__info {
            width: 100%;
            height: 100%;
            margin: 2rem 0;
            .item {
                border: transparent solid 2px;
                border-radius: 0.5rem;
                margin-bottom: 1rem;
                padding: 1.5rem;
                background-color: $secondary-color;
                transition: all ease 0.3s;
                .text-zone {
                    width: 100%;    
                    line-height: 2.5rem;
                    font-size: 1.6rem;
                    color: $text-color;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: all ease 0.3s;
                }
                .edit-zone {
                    display: none;
                    input, textarea {
                        font-family: 'Poppins', sans-serif;
                        display: none;                
                        font-size: 1.6rem;
                        background-color: transparent;
                        border: none;
                        color: $primary-color;
                        outline: none;
                        width: 100%;
                        display: none;
                    }
                    span {
                        font-size: 1.7rem;
                        color: $primary-color;
                        display: none;
                        padding: 0 0.4rem;
                    }
                    .count-word {
                        display: none;
                    }
                }
            }
            .item.editting {
                border: $primary-color solid 2px;
                .text-zone {
                    display: none;
                }
                .edit-zone {
                    display: flex;
                    input, textarea, span, .count-word {
                        display: inline-block;
                    }
                }
            }
            .task-time.editting {
                .edit-zone {
                    @include flex(row, none, center, none);
                    input {
                        text-align: center;
                        width: 2rem;
                    }
                }
            }
            .task-description {
                max-height: 23rem;
                .text-zone {
                    height: 20rem;
                    word-wrap: break-word;
                    text-overflow: clip;
                    white-space: normal;
                    overflow-y: scroll;
                }
                .edit-zone {
                    @include flex(column, space-between, none, none);
                    height: 100%;
                    textarea {
                        max-height: 17.7rem;
                        min-height: 17.7rem;
                        min-width: 100%;
                        max-width: 100%;
                    }
                    .count-word {
                        padding: 1rem 0;
                        font-size: 1.3rem;
                        align-self: flex-end;
                        color: $primary-color;
                    }
                }
            }
        }
        &__buttons {
            @include flex(row, center, center, none);
            width: 100%;
            button {
                text-align: center;
                margin: 0 0.7rem;
                width: 30%;
                border: none;
                color: $text-color;
                padding: 0.7rem;
            }
            .setting {
                display: inline-block;
            }
            .save {
                display: none;
            }
        }
        &__buttons.save {
            .setting {
                display: none;
            }
            .save {
                display: inline-block;
            }
        }
        &__music {
            overflow-y: scroll;
            height: 100%;
            width: 100%;
            .dashboard {
                z-index: 1;
                position: fixed;
                width: calc(25% - 10.1rem);
                background-color: #363742;
                &__title {
                    font-size: 1.4rem;
                    margin: 1rem 0;
                    color: rgba(255, 255, 255, 0.747);
                    text-align: center;
                }
                &__cd {
                    display: block;
                    text-align: center;
                    margin-bottom: 1rem;
                    img {
                        width: 15rem;
                        padding: 0.5rem;
                        border: $primary-color solid 2px;
                        border-radius: 50%;
                    }
                }
                &__name {
                    height: 1.7rem;
                    width: 70%;
                    color: $text-color;
                    overflow: hidden;
                    margin: 0 auto;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 1.6rem;
                    margin-bottom: 1rem;
                    text-align: center;
                }
                &__timeline {
                    position: relative;
                    text-align: center;
                    margin-bottom: 1.5rem;
                    .timeline { 
                        position: relative;
                        border-radius: 3rem;
                        -webkit-appearance: none;
                        overflow: hidden;
                        width: 100%;
                        margin-bottom: 1rem;
                        opacity: 0.8;
                        background-color: $secondary-color;
                        height: 0.6rem;
                        transition: all ease 0.3s;
                    }
                    .timeline::-webkit-slider-thumb {
                        position: relative;
                        -webkit-appearance: none;
                        cursor: pointer;
                        width: 0;
                        height: 100%;
                        background: $primary-color;
                        box-shadow: -500px 0 0 500px $primary-color;
                    }
                    .timeline:hover {
                        opacity: 1;
                    }
                    .time {
                        @include flex(row, space-between, center, none);
                        .current-time {
                            font-size: 1.3rem;
                            color: $text-color;
                        }
                        .max-time {
                            font-size: 1.3rem;
                            color: $text-color;
                        }
                    }
                }
                &__buttons {
                    @include flex(row, center, center, none);
                    height: 4rem;
                    padding-bottom: 2rem;
                    button {
                        outline: none;
                        border: none;
                        padding: 1rem;
                        font-size: 1.5rem;
                        color: $text-color;
                        cursor: pointer;
                        margin: 0 0.5rem;
                    }
                    button:not(.play-pause) {
                        background-color: transparent;
                        opacity: 0.6;
                        transition: all ease 0.3s;
                    }
                    button:not(.play-pause).active {
                        color: $primary-color;
                        opacity: 1;
                    }
                    button:not(.play-pause):hover {
                        opacity: 1;
                    }
                    button:not(.play-pause):active {
                        color: $primary-color;
                    }
                    .play-pause {
                        color: $text-color;
                        border-radius: 0.3rem;
                        padding: 0.2rem;
                        width: 3.5rem;
                        height: 3.5rem;
                        .play {
                            display: inline-block;
                        }
                        .pause {
                            display: none;
                        }
                    }
                }
            }
            .dashboard.play {
                .dashboard__buttons {
                    .play-pause {
                        .play {
                            display: none;
                        }
                        .pause {
                            display: inline-block;
                        }
                    }
                }
            }
            .playlist {
                margin-top: 32rem;
                .song {
                    @include flex(row, space-between, center, none);
                    cursor: pointer;
                    background-color: $secondary-color;
                    padding: 1.5rem 1rem;
                    border-radius: 0.5rem;
                    color: $text-color;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    transition: all ease 0.3s;
                    opacity: 0.7;
                    width: 100%;
                    &__info {
                        margin-left: 0.5rem;
                        .song__name {
                            white-space: nowrap;
                            overflow: hidden;
                            width: 17rem;
                            height: 1.8rem;
                            text-overflow: ellipsis;
                        }
                        .song__author {
                            opacity: 0.9;
                            white-space: nowrap;
                            overflow: hidden;
                            width: 15rem;
                            height: 1.8rem;
                            text-overflow: ellipsis;
                        }
                    }
                }
                .song:hover {
                    opacity: 1;
                }
                .song.active {
                    font-weight: 600;
                    color: $text-color;
                    background-color: $primary-color;
                    opacity: 1;
                    .song__info {
                        .song__author {
                            opacity: 1 !important;
                        }
                    }
                }
                .song.active:hover {
                    background-color: #877ac5;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0rem;
}